<div class="container">
  <div class="well" style="text-align:center;margin-top:20px;">
    <h1>Ideas</h1>
    <p>Add a New Idea Below</p>
    <%= label_tag "Title" %>
    <%= text_area_tag "Title" %>
    <%= label_tag "Body" %>
    <%= text_area_tag "Body" %>
    <button id="create-idea" class="btn btn-default">Save</button>
    <p><strong>or</strong><br> search all ideas</p>
    <%= label_tag "Search" %>
    <%= text_field :idea, :filter %>
  </div>
  <ul class="ideas-index">
    <% @ideas.each do |idea| %>
    <div class="well idea-card" id="idea-<%= idea.id %>">
      <li><div class="idea-content" id="<%= idea.id %>">
      <p contenteditable="true" class="title"> <%= idea.title %></p><br>
      Idea: <p contenteditable="true" class="body"><%= truncate(idea.body, length: 100, separator: " ") %></p></div><br>
      Quality: <%= idea.quality %><br>
      <button class="btn btn-default pull-right delete-idea" data-id="<%= idea.id %>">Delete</button>
      <button class="btn btn-default thumbs-up" data-id="<%= idea.id %>"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
      <button class="btn btn-default thumbs-down" data-id="<%= idea.id %>"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button></li>
    </div>
    <% end %>
  </ul>
</div>
